<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow sticky-top">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <img src="../../../assets/logo.jpg" alt="logo" class="logo me-2">
        <span class="fs-3 fw-bold text-gradient">Club 4</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/components" routerLinkActive="active">Composants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/templates-data-binding" routerLinkActive="active">Templates & Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/directives" routerLinkActive="active">Directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/modules" routerLinkActive="active">Modules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/routing" routerLinkActive="active">Routing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quizz" routerLinkActive="active">Quizz</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  