/* Style global pour la page du quiz */
.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Style pour l'affichage du chargement */
  .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
  }
  
  /* Section de la question et des options */
  h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  button.selected {
    background-color: #28a745;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  /* Résultats */
  .isQuizFinished {
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Ajout d'un espace au-dessus du bouton */
  }
  
  
  button:hover {
    background-color: #138496;
  }
  
  /* Ajout de la transition pour le changement de question */
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  